html {
    height: 100%;
}

body {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-image: linear-gradient(#d95d63, #FFF);
}

h1 {
    color: aqua;
    font-size: 35px;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

#push-btn,#unshift-btn {
    height: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #050127;
    color: aqua;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
}

#shift-btn,#pop-btn {
    height: 100px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkslategrey;
    color: aqua;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 9px;
   
}

#emojiContainer {
    font-size: 70px;
    margin: 10px;
    padding: 10px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}

#emoji-input {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#mouse-over {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    text-align: center;
    color: blue;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
}

#anchor {
    width: 40px;
    margin-left: auto;
    margin-right: auto;
    color: aqua;
    text-align: center;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
}

a:link {
    color:cornsilk;
}

a:visited {
    color:aquamarine;
}

#input-links-wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#buttons-wrapper {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}