html {
    height: 100%;
}

body {
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(#d95d63, #FFF);
    margin: 0 auto;
}

h1 {
    color: aqua;
    font-size: 35px;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
}

#push-btn,#unshift-btn {
    height: 100px;
    width: 150px;
    background-color: #050127;
    color: aqua;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
    margin: 0 auto;
}

#shift-btn,#pop-btn {
    height: 100px;
    width: 150px;
    background-color: darkslategrey;
    color: aqua;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 10px;
    margin: 0 auto;
}

#emojiContainer {
    font-size: 70px;
    padding: 10px;
    margin: 0 auto;
}