html {
    height: 100%;
}

body {
    margin: 10px;
    padding: 10px;
    background-image: linear-gradient(#d95d63, #FFF);
}

h1 {
    color: aqua;
    font-family: "copperplate", 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 4px #000000;
}

#push-btn,#unshift-btn {
    background-color: #050127;
    color: aqua;
}

#shift-btn,#pop-btn {
    background-color: darkslategrey;
    color: aqua;
}